<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/jquery/dist/jquery.min.js"/>
    <link rel="stylesheet" href="/style.css"/>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
</head>
<body>
<div class="container">
    <ul class="nav nav-tabs">
        <li class="{{isActive 'index' @exphbs.view}}">
            <a href="/menu/index">Home</a>
        </li>
        <li class="{{isActive 'devices' @exphbs.view}}">
            <a href="/menu/devices">Devices</a>
        </li>
        <li class="{{isActive 'config' @exphbs.view}}">
            <a href="/menu/config">Configure</a>
        </li>
        <li class="{{isActive 'dashboard' @exphbs.view}}">
            <a href="/menu/dashboard">Dashboard</a>
        </li>
    </ul>

    {{{ body }}}

</div>
<script src="/form.js"></script>
</body>
</html>