<div class="container" ng-app="JumboApp" ng-controller="JumboCtrl as ctrl">
    <h1 class="jumbotron">Add Device</h1>
    <form method="post" action="/adddevice">
        <div class="form-group">
            <label for="id">Device ID</label>
            <input class="form-control" type="text" name="id" id="id"/>
        </div>
        <div class="form-group">
            <label for="name">Device Name</label>
            <input class="form-control" type="text" name="name" id="name"/>
        </div>
        <div class="form-group">
            <label for="type">Device Type</label>
            <input class="form-control" type="text" name="type" id="type"/>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <input class="form-control" type="text" name="status" id="status"/>
        </div>
        <div class="form-group">
            <label for="measure">Measurement</label>
            <input class="form-control" type="text" name="measure" id="measure"/>
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input class="form-control" type="text" name="date" id="date"/>
        </div>
        <div class="form-group">
            <label for="remark">Remarks</label>
                    <textarea rows="3" class="form-control" ng-model="comment" name="remark" id="remark"
                              placeholder="Add Remarks"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-warning btn-block">Submit</button>
        </div>
    </form>
</div>