<div class="container">
    <h1 class="jumbotron">Devices</h1>
    <form method="GET" action="/search">
        <span class="col-md-4">
            <label>Name: </label>
            <input class="form-control" type="text" name="devicename" placeholder="Enter a name to search"/>
        </span>
        <button type="submit" class="btn btn-danger">Search</button>
    </form>
    <table class="table table-hover pagination" ng-app="deviceApp" ng-controller="deviceCtrl as ctrl">
        <thead style="font-weight: bold">
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Type</td>
                <td>Status</td>
                <td>Measurement</td>
                <td>Date</td>
                <td>Remarks</td>
            </tr>
            <form>
                <tr>
                    <td><button type="button" class="btn btn-default btn-xs">Sort</button></td>
                    <td><button type="button" class="btn btn-default btn-xs">Sort</button></td>
                    <td><button type="button" class="btn btn-default btn-xs">Sort</button></td>
                    <td><button type="button" class="btn btn-default btn-xs">Sort</button></td>
                    <td><button type="button" class="btn btn-default btn-xs">Sort</button></td>
                    <td><button type="button" class="btn btn-default btn-xs">Sort</button></td>
                    <td><button type="button" class="btn btn-default btn-xs">Sort</button></td>
                </tr>
            </form>
        </thead>
        <tbody>
            {{#each devices}}
                <tr>
                    <td>{{this.deviceid}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.devicetype}}</td>
                    <td>{{this.status}}</td>
                    <td>{{this.measurement}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this.remark}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
