<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Auk Industries</h1>
        <p>
            Connected devices interface the physical world to the digital domain. Thoughtfully designed around lean operation principles, we seek to implement connected solutions to take your business to the next level in both effectiveness and agility.
        </p>
        <p>
            <a class="btn btn-primary btn-block" href="#" role="button">Enter</a>
        </p>
    </div>
</div>