.container {
    position: relative;
    top: 10px;
}

.name.ng-valid {
    background-color: green;
}
.name.ng-dirty.ng-invalid-required {
    background-color: red;
}
.name.ng-dirty.ng-invalid-minlength {
    background-color: lightpink;
}

p {
    margin-top: 15px;
    padding: 20px;
}